/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    margin: 0;
    padding: 0;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*For Tic-tac-toe*/
    /*width: 302px;
    margin: 0 auto;
    padding: 0;*/
}

.square {
    font-size: 60pt;
    text-align: center;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

#grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 1fr 1fr 1fr;
}

.board {
    display: flex;
    flex-direction: column;
    height: 100%
}


/*Checkers Game styling*/
#checkers-board {
    width: 400px;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.row {
    display: flex;
    flex-direction: row;
    height: 30%;
}

.checker {
    margin: 0px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 5px solid grey;
}
/*End Styling*/








.board > .row:nth-child(2) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.board > .row > .cell:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.cell {
    width: 100px;
    height: 100px;
}

form {
    display: block;
    width: 302px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}
